div(layout='row' layout-xs='column' layout-wrap='' layout-align='center center')
    div(flex-gt-md='30' flex-md='50' flex='90')
        md-card
            img.md-card-image(ng-src='images/K.jpg' alt='Washed Out')
            md-card-title
                md-card-title-text
                    span.md-headline WineCellar
            form(name='loginForm')
                md-card-content                    
                    md-input-container.md-block
                        label Login
                        md-icon
                            i.material-icons account_circle
                        input(required='' type='text' name='login' ng-model='login.user.login')
                        div(ng-messages='loginForm.login.$error')
                            div(ng-message='required') Veuillez entrer un login
                    md-input-container.md-block
                        label Mot de passe
                        md-icon
                            i.material-icons lock
                        input(required='' type='password' name='password' ng-model='login.user.password' minlength='8')
                        div(ng-messages='loginForm.password.$error' role='alert')
                            div(ng-message='required') Veuillez entrer un mot de passe
                            div(ng-message='minlength') Veuillez entrer un mot de passe d'au moins 8 caractères
                    md-card-actions(layout='row', layout-align='end')
                        md-button.md-raised.md-primary(flex-gt-md='33' flex-md='50' flex='100' type='submit' ng-disabled='loginForm.$invalid' ng-click='login.doLogin()') Connexion
