md-content.md-padding(layout='row' layout-xs='column' layout-wrap='' layout-align='center center')
    md-nav-bar(md-selected-nav-item='currentNavItem' nav-bar-aria-label='navigation links' flex-gt-md='66' flex-md='75' flex='100')
        span(flex='')
        md-nav-item(md-nav-sref='app.cellar' name='cellar')
            | Ma cave
        md-nav-item(md-nav-sref='app.secure.parameters' name='parameters')
            | Paramètres
        span(flex='')
