md-content.md-padding(layout='row' layout-xs='column' layout-wrap='' layout-align-gt-xs='center center' layout-align='center ')
    md-nav-bar(flex='100' flex-md='100' flex-gt-md='75' md-selected-nav-item='currentNavItem' nav-bar-aria-label='navigation links')
        span(flex='')
        md-nav-item(md-nav-sref='app.cellar' name='cellar' )
            | Ma cave
        md-nav-item(md-nav-sref='app.secure.parameters' name='parameters' )
            | Paramètres
        span(flex='')
