md-content.md-padding(layout='row' layout-xs='column' layout-wrap='' layout-align='center center')
    div(flex-gt-md='66' flex-md='75' flex='100')
        div(layout='row' layout-xs='column' layout-wrap='' layout-align='')
            div(flex='25')
                md-whiteframe.md-whiteframe-3dp.menu-panel(flex='100' layout='column' layout-align='')
                    md-content
                        .title(flex='100' layout='row' layout-align='center center')
                            span Paramètres
                        .content(flex='100')
                            md-list
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Pays
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Régions
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Appellations
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Origines
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Classements
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Tailles de bouteille
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Cépages
                                md-list-item(ng-click="doPrimaryAction($event)")
                                    span Types
            div(flex='75'  layout-padding='')
                parameter-color-panel(title='Type' data='parameters.types' add='parameters.addType' delete='parameters.deleteType' update='parameters.updateType')
