div.parameter-color-panel
    md-whiteframe.md-whiteframe-3dp(flex='100' layout='column' layout-align='center center')
        md-content
            .title(flex='100')
                span .md-whiteframe-1dp
            .content(flex='100')
                span .md-whiteframe-1dp
