doctype html
html(ng-app='wine-cellar')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title WineCellar - Application de gestion de cave à vin
        block head
        link(rel='stylesheet', href='/stylesheets/angular-material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
        section#content(ui-view='content')
        footer
        script(src='/js/jquery.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/angular-aria.min.js')
        script(src='/js/angular-material.min.js')
        script(src='/js/angular-animate.min.js')
        script(src='/js/angular-messages.min.js')
        script(src='/js/angular-ui-router.min.js')
        script(src='/js/angular-storage.min.js')
        script(src='/js/'+client)
