@import 'node_modules/bootstrap/scss/bootstrap';
@import 'tooltip';

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgba(185, 203, 206, 1);
}
/******************* Modal ******************/

.frontend-app {
  .modal-header {
    border: 0;
    color: rgba(255, 255 ,255 ,1);

    img {
      width: 35px;
    }
  }

  .modal-content {
    border:0;
    background-color: rgba(70, 78, 78, 1);
    color: rgba(255, 255, 255, 1);
  }

  .modal-footer {
    border: 0;
    padding-top: 0;
  }
}
/******************* Modal ******************/
/***************** Animation ****************/
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
/***************** Animation ****************/
/******************* Forms ******************/
.form-control {
  background-color: rgba(217, 223, 232, 1);
  border: 0;
}

.input-group-text {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control-sm:not(:first-child) {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.input-group .form-control-sm {
  margin-right: 24px;
}
/******************* Forms ******************/
/****************** Navbar ******************/
.navbar {
  .form-control {
    width: 300px;
    text-align: center;
  }

  .dropdown-item:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(211, 221, 230, 1);
  }

  .dropdown-menu {
    border: none;
  }

  img {
    width: 35px;
  }
}
/****************** Navbar ******************/
