<div layout="row" layout-xs="column" layout-wrap layout-align="center center" class="full-height">
  <div flex-gt-md="25" flex-md="40" flex="50">
    <md-card>
      <img ng-src="images/login.png" alt="login image" class="md-card-image" />
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">#APP_NAME#</span>
        </md-card-title-text>
      </md-card-title>
      <form name="loginForm">
        <md-card-content>
          <md-input-container class="md-block">
            <label>Login</label>
            <md-icon>
              <i class="material-icons">account_circle</i>
            </md-icon>
            <input required="" name="login" ng-model="login.user.login" />
            <div ng-messages="loginForm.login.$error">
              <div ng-message="required">Veuillez entrer un login</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mot de passe</label>
            <md-icon>
              <i class="material-icons">lock</i>
            </md-icon>
            <input required="" type="password" name="password" ng-model="login.user.password" minlength="8" />
            <div ng-messages="loginForm.password.$error" role="alert">
              <div ng-message="required">Veuillez entrer un mot de passe</div>
              <div ng-message="minlength">Veuillez entrer un mot de passe d'au moins 8 caractères</div>
            </div>
          </md-input-container>
          <md-card-actions layout="row" layout-align="end">
            <md-button flex-gt-md="33" flex-md="50" flex="100" type="submit" ng-disabled="loginForm.$invalid" ng-click="login.doLogin()" class="md-raised md-primary">Connexion</md-button>
          </md-card-actions>
        </md-card-content>
      </form>
    </md-card>
  </div>
</div>